body{
    background-color: pink;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    
}
.content{
    color: black;
    width: 75%;
   
}
p{
    color: black
}

.text{
    color: black
}

#text{
    color: black
}

h2{
    text-align: center;
}